<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultLanguage" value="en-US"/>
    <add key="IsCheckVersion" value="False"/>
    <add key="URLCheckVersion" value="http://10.211.107.16/FGTrack_PM_Service/UpdateFile/app_version.xml" />
    <add key="ServiceURL" value="http://10.211.107.16/FGTrack_PM_Service/Service_FGWHS.asmx" />
    <add key="ServiceTimeOut" value="5000"/>
  </appSettings>
</configuration>
