<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppStyle" value="The Asphalt World"/>
    <add key="WH_ID" value="FG"/>
    <add key="ODPNetVersion" value="2.112.3.0"/>
    <add key="RPTViewerIdleTime" value="00:03:00"/>
    <add key="IsAppIdleTime" value="True"/>
    <add key="SizeFormWidth" value="227"/>
    <add key="SizeFormHeight" value="88"/>
    <add key="StateConfigPath" value="GridLayout"/>
    <add key="PASSWORD" value="3128"/>
    <add key="START_UP" value="TRUE" />
  </appSettings>
  <connectionStrings>
    <!-- TO SERVER NHTNMSDB -->
    <add name="FG_TRACKING.ConnectString"
         connectionString="Data Source=(DESCRIPTION=(SDU=11280)(ADDRESS_LIST=(ADDRESS=(COMMUNITY=tcp.world)(PROTOCOL=TCP)(Host=10.211.107.16)(Port=1521)(SERVER=DEDICATED)))(CONNECT_DATA=(SID=ORCL11G)));
         Persist Security Info=false;
         User ID=DBAFG;
         Password=FGTRACK;
         Connection Lifetime=60;
         Connection Timeout=60;
         Enlist=true;
         Min Pool Size=1;
         Max Pool Size=10;
         pooling=true;
         validate connection=true;
         Incr Pool Size=5;
         Decr Pool Size=2;
         Statement Cache Size=30;
         Self Tuning=false;"
         providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true" />
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.net>
    <defaultProxy>
      <proxy
             usesystemdefault="False"
             proxyaddress="http://10.211.107.16"
             bypassonlocal="True" />
      <bypasslist>
        <add address="10.211.107.16" />
      </bypasslist>
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="95000" />
    </connectionManagement>
  </system.net>
</configuration>